.SlidingPuzzle {
    height: 170px;
    margin: 20px auto;
    padding: 10px 12px 12px 10px;
    position: relative;
    width: 172px;
    background-color: black;
    border-radius:5px;
}
.Tile1 {
    left: 0px;
    top: 0px;
}
.Tile2 {
    left: 45px;
    top: 0px;
}
.Tile3 {
    left: 90px;
    top: 0px;
}
.Tile4 {
    left: 0px;
    top: 45px;
}
.Tile5 {
    left: 45px;
    top: 45px;
}
.Tile6 {
    left: 90px;
    top: 45px;
}
.Tile7 {
    left: 0px;
    top: 90px;
}
.Tile8 {
    left: 45px;
    top: 90px;
}
.Tile9 {
    left: 90px;
    top: 90px;
}
.SlidingPuzzle .Tile {
    background-color:white;
    float:left;
    color:black;
    text-align:center;
    font : 30px Helvetica;
    display:inline-block;
    border:6px #DCDCDC;
    padding-top:7px;
    border-style:outset;
    width: 45px;
    height: 38px;
}
.SlidingPuzzle .Hide {
    background-color:black;
    border:0px black;
    padding:6px;
    height:45px;
    border-radius :5px;
}
figcaption {
    text-align: center;
    font :italic 500 20px Helvetica;
}
